<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="/fragments :: head"></head>
<body>
<header th:replace="/fragments :: navbar"></header>
<a class="btn btn-primary m-1" th:href="@{/collections}">Показать коллекции с саммым большим числом айтемов</a>
<h5 class="text-center my-2">All items sorted in descending order:</h5>
<div class="row row-cols-1 row-cols-md-4 g-4 m-3">
    <div class="col" th:each="item : ${items}">
        <div th:if="${item != null}">
            <div class="card">
                <h3 class="card-text" th:text="${item.getName()}"></h3>
                <if th:if="${item.getFileName()!=null}">
                    <div class="ratio ratio-4x3">
                        <img class="card-img-top embed-responsive-item" style="object-fit: cover"
                             th:src="@{/img/{filename}(filename = ${item.getFileName()})}" alt="...">
                    </div>
                </if>
                <div class="card-body my-2">
                    <span>Some text:</span>
                    <p class="card-text" th:text="${item.getText1()}"></p>
                    <p class="card-text" th:text="${item.getText2()}"></p>
                    <p class="card-text" th:text="${item.getText3()}"></p>
                    <span>Some date:</span>
                    <p class="card-text" th:text="${#temporals.format(item.getDate1(), 'dd-MM-yyyy')}"></p>
                    <p class="card-text" th:text="${#temporals.format(item.getDate2(), 'dd-MM-yyyy')}"></p>
                    <p class="card-text" th:text="${#temporals.format(item.getDate3(), 'dd-MM-yyyy')}"></p>
                    <span>Tags:</span>
                    <div class="d-flex flex-wrap">
                        <div th:each="tag : ${item.getTag().split(' ')}">
                            <div th:text="'#' + ${tag} + ' '"></div>
                        </div>
                    </div>
<!--                    <div sec:authorize="isAuthenticated()"-->
<!--                         th:if="${#strings.equals(user.getUsername(),item.getCollection().getUser().getUsername())}">-->
<!--                        <a class="btn btn-primary m-1"-->
<!--                           th:href="@{/user/profile/collection/item/edit/{itemId}(itemId = ${item.getId()})}">Edit</a>-->
<!--                        <form th:action="@{/user/profile/collection/item/remove}" method="post">-->
<!--                            <input type="hidden" name="itemId" th:value="${item.getId()}">-->
<!--                            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>-->
<!--                            <button type="submit" class="btn btn-danger m-1">Remove</button>-->
<!--                        </form>-->
<!--                    </div>-->
                    <div class="card-footer mt-2 text-muted container">
                        <div class="row">
                            <small class="col align-self-center"
                                   th:text="'author: ' + ${item.getCollection().getUser().getUsername()}"></small>
<!--                            <form th:action="@{/like}" th:method="post">-->
<!--                                <input type="hidden" th:name="itemId" th:value="${item.getId()}"/>-->
<!--                                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>-->
<!--                                <i type="submit" class="far fa-heart"></i>-->
<!--                            </form>-->
                            <a class="col align-self-center" th:href="@{/{itemId}/like(itemId = ${item.getId()})}" style="text-decoration: none;">
                                <i class="fas fa-heart" th:if="${item.liked}"></i>
                                <i class="far fa-heart" th:if="${not item.liked}"></i>
                                <span th:text="${item.likes}"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div th:unless="${#lists.isEmpty(items)} or ${not #strings.isEmpty(smallData)}">
        <nav aria-label="Page navigation example" class="mt-4">
            <ul class="pagination justify-content-center ">
                <li class="page-item" th:if="${page.hasPrevious()}">
                    <a class="page-link"
                       th:href="@{/(page=${page.number - 1},size=${page.size})}">Previous</a>
                </li>
                <th:block th:each="i: ${#numbers.sequence(0, page.totalPages - 1)}">
                    <li class="page-item active" aria-current="page">
                        <a class="page-link"
                           th:href="@{/(page=${i},size=${page.size})}">[[${i}+1]]</a>
                    </li>
                </th:block>
                <li class="page-item" th:if="${page.hasNext()}">
                    <a class="page-link"
                       th:href="@{/(page=${page.number + 1},size=${page.size})}">Next</a>
                </li>
            </ul>
        </nav>
    </div>
</div>
<script th:replace="/fragments :: script"></script>
</body>
</html>
